<% title "Events" %>

<div class="grey_bar">
	<% if user_signed_in? %>
		<div class="right_controls"><%= link_to "Create Event", new_event_path %></div>
	<% end %>	
	<h1>Events</h1>
</div>
<div class="content">
	stuff and things
</div>
