- title "Events"

.title_bar
  .title Events
  - if user_signed_in?
    .button= link_to "Create Event", new_event_path, :remote => true
.events
  - @events.each do |event|
    =render :partial=>'event', :locals => { :event=>event }