- if !@presentation.nil? and @presentation.respond_to? :title
  .presentation{ :id => [@time_slot_id, @room_id] }
    %strong= link_to @presentation.title, presentation_path(@presentation)
    %br
    = linkify @presentation.presenter
    %br
    in room:
    =@presentation.room.name
